@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    padding: 0;
}

body{
    margin: 0;
    background: linear-gradient(to bottom, #111111, #1B2631);
    font-family: "Comic Neue", sans-serif;
}   

.container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto ;
    grid-template-areas: 
    "foto foto foto"
    "regresa regresa regresa"
    "proyectos proyectos proyectos"
    "footer footer footer";
}

.regresa{
    grid-area: regresa;
    margin-top: 3rem;
    margin-left: 5rem;
}

.foto{
    grid-area: foto;
    width: 100%;
    height: 20vh;
    overflow: hidden;
    border-radius: 0 0 50px 50px;
    box-shadow: 10px 10px 10px #000000;
}

.foto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/*isla dynamic*/
.isdy-wrapper{
    width: 100%;
    position: relative;
}

.isdy{
    position: fixed;
    z-index: 9999;
    width: 280px;
    height: 60px;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 40px;
    box-shadow: 0 20px 60px #000000;
    background: #1C1D1D;
    transition: transform 0.3s;
}

.isdy:hover{
    transform: translateX(-50%) scale(1.1);
}

.isdy img{
    position: absolute;
    height: 40%;
    top: 25%;
    left: 5%;
}

.imgportafolio{
    height: 100vh;
    overflow: hidden;
    border-radius: 0 0 50px 50px;
    box-shadow: 10px 10px 10px #000000;
}

.imgportafolio img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*isla dynamic*/

.cajita {
    grid-area: proyectos;
    display: grid;
    min-height: auto;
    grid-template-columns: 250px 1fr 225px;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "left resto right";
    gap: 15px;
    padding: 15px;
    box-sizing: border-box;
    margin: 0 10rem 2rem 10rem;
    color: #2F4156;
}

.sidebar-left { 
    background-color: #C8D9E6; 
    grid-area: left; 
    padding: 15px; 
    border-radius: 20px;
    box-shadow: 4px 4px 30px #000000; 
    transition: transform 0.1s;
}

.sidebar-left:hover{
    transform: scale(1.02);
}

hr{
    border: none;
    height: 2px;
    background-color: #2F4156;
}

.resto { 
    background-color: #C8D9E6; 
    grid-area: resto;
    gap: 3px; 
    padding: 20px; 
    border-radius: 20px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    text-align: center;
    box-shadow: 4px 4px 30px #000000; 
    transition: transform 0.1s;
}

.resto:hover{
    transform: scale(1.009);
}

.resto img{
    width: 100%;
    height: 200px;
    object-fit: contain;
    display: block;
}

.sidebar-right { 
    background-color: #C8D9E6; 
    grid-area: right; 
    padding: 15px; 
    border-radius: 20px; 
    box-shadow: 4px 4px 30px #000000; 
    transition: transform 0.1s;
}

.sidebar-right:hover{
    transform: scale(1.02);
}

.title h2{
    font-size:2.5rem;
    margin: 5px 0 -20px 0;
}

.title p{
    font-size:1rem;
    margin: 5px 5vw 10px 5vw;
}

ul { 
    list-style: none; 
    padding: 0; 
}

li { 
    margin-bottom: 10px; 
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

li img{
    margin:2vw 0px 2vw 1vw;
    width: 90%;
    height: auto;
    object-fit: contain;
    display: block;
}

.cajita a { 
    color: #2F4156;
    text-decoration: none; 
    font-weight: bold; 
}

.cards{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.card{
    width: 250px;
    padding: 1rem;
    border-radius: 10px;
    color: white;
    margin-bottom: 10px; 
    transition: transform 0.3s;
}

.card:hover{
    transform: scale(1.1);
}

.footer{
    font-size: 35px;
    grid-area: footer;
    padding: 60px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.35);
}